<div class="container mt-3">
  <span *ngFor="let lstBc of lstBcs; let i = index; first as isFirst; last as isLast">
    <b *ngIf="isLast">{{lstBc.name}}</b>
    <i *ngIf="!isLast">{{lstBc.name}} |</i>
  </span>
    <table  class="table table-hover">
        <thead >
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
          </tr>
        </thead>
        <tbody>
          <!-- routerLink="/lsts/{{lst.id}}" routerLinkActive="router-link-active" -->
          <tr *ngFor="let lst of lsts" (click)="goToChildren(lst)" style="cursor:pointer;">
            <td>{{lst.name}}</td>
            <td>{{lst.id}}</td>
          </tr>
          
        </tbody>
      </table>
      
      <!-- <pre>{{lstBcs | json}}</pre> -->
 <h3>Users Access: {{usersAccess?.length || 0}} users</h3>
      <span *ngFor="let userAccess of usersAccess">{{userAccess.name}} |</span>
</div>
